<%- include ('../partials/header') %> <%- include ('../partials/menu') %>

<div class="m-5">
    <main>
        <h4> Your matches:</h4>
        <hr>
        <form class = "formcontainer" action = "/liked_you" method="GET">
        
        
        </form>
        <br>
        <br>
        <h4> People who liked your profile:</h4>
        <hr>
        <form class = "formcontainer" action = "/liked_back" method="GET">
        
        
        
        </form>
        </main>
        
</div>

<%- include ('../partials/footer') %>