<%- include ('../partials/header') %> <%- include ('../partials/menu') %>

<main>
<h4> People who liked your post:</h4>
<hr>
<form class = "formcontainer" action = "/liked_you" method="GET">


</form>
</main>


<%- include ('../partials/footer') %>