<%- include ('../partials/header') %> <%- include ('../partials/menu') %>

<main>
    <div class="container mt-5">
      <h1 class="mb-4">Register</h1>
      <form action="/register" method="POST">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" required>
      </div>
        <div class="mb-3">
          <label for="first_name" class="form-label">First Name</label>
            <input type="text" name="first_name" id="first_name" class="form-control" required>
            <label for="last_name" class="form-label">Last Name</label>
            <input type="text" name="last_name" id="last_name" class="form-control" required>
            <label for="bio" class="form-label">Bio</label>
            <input type="text" name="bio" id="bio" class="form-control" required>
            <label for="location" class="form-label">Location</label>
            <input type="text" name="location" id="location" class="form-control" required>
            <label for="age" class="form-label">Age</label>
            <input type="text" name="age" id="age" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
        <p>If you do not have an account, <a href="/login">Login</a></p>
  </main>

<%- include ('../partials/footer') %>
