<style>
    .navbar {
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0), rgba(255, 111, 97, 0));
        border-bottom: 2px solid rgba(255, 111, 97, 0);
    }

    .navbar a {
        color: #ff3b3f; /* Set the text color to Tinder color */
        font-weight: bold;
        max-height: 70px;
    }
</style>

<header>
    <nav style="background-color: rgb(255, 255, 255);" class="navbar navbar-expand-sm border-bottom">
        <div class="container" id = "menuContainer">
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbar-collapse" aria-controls="navbar" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="navbar-nav me-auto align-items-center">
                    <li>
                    <a class="navbar-brand" href="/home">
                        <img src="../../resources/public/rinder logo.png" alt="rinder" style="max-height: 70px;">
                    </a>
                    </li>
                    <li class="nav-item">
                        <!-- TO-DO: For Discover, add a <a> tag with an attribute href to call the '/discover' API -->
                        <a class="nav-link" href="/discover">DISCOVER</a>
                    </li>
                    <li class="nav-item">
                        <!-- TO-DO: For Discover, add a <a> tag with an attribute href to call the '/discover' API -->
                        <a class="nav-link" href="/users">USERS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/preferences">PREFERENCES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/matches">MATCHES</a>
                    </li>
                </ul>
                <div class="nav-item me-1">
                    <!-- TO-DO: For Logout, add a <a> tag with an attribute href to call the '/logout API -->
                    <a class="nav-link" href="/logout">LOGOUT</a>
                </div>
            </div>
        </div>
    </nav>
</header>